@font-face {
  font-family: "calamity";
  src: url(../fonts/CalamityRegular[editby].otf);
}

@font-face {
  font-family: "elf";
  src: url(../fonts/ConsolateElf-X33XP.ttf);
}

body {
  margin: 0;
  box-sizing: border-box;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 100%
    ),
    url(../images/pexels-lanophotography-194511.jpg) no-repeat center center;
  background-size: cover;
  color: #fff;
}

h1,
h2,
h3 {
  font-family: "calamity";
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 36px;
}

p,
a {
  font-family: "elf";
  font-size: 18px;
  line-height: 1.3em;
}

section,
article {
  width: 90%;
  padding-block: 2rem;
  border-bottom: 1px solid #fff;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
}

.flex {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.justify_center {
  justify-content: center;
}

.align_center {
  align-items: center;
}

.text_center {
  text-align: center;
}

.gap_16 {
  gap: 1rem;
}

#hero_section {
  gap: 3rem;
  & > span {
    display: block;
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    background: url(../images/pexels-pixabay-159393.jpg) no-repeat center center;
    background-size: cover;
  }
  & > div > a {
    position: relative;
  }
  & > div > a:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    background-color: #fff;
    width: 40px;
    height: 3px;
    border-radius: 50%;
    filter: blur(3px);
    opacity: 0;
  }
  & > div > a:hover::after {
    opacity: 1;
  }
}

#button_section > button {
  position: relative;
  border: 1px solid;
  border-color: #fff #777 #777 #fff;
  background-color: transparent;
  color: #fff;
  padding: 1.1rem 1.6rem 1.1rem 1.8rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.5rem;
  transition: 0.5s;
  box-shadow: 0px 0px #777, 0px 0px #fff;
  &:hover {
    box-shadow: 5px 5px #777, -5px -5px #fff;
    border-color: #fff0;
  }
}

#projects_section button {
  position: relative;
  width: 5rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #fff;
  background:
    no-repeat center center;
  background-size: cover;
  &::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    background-color: #fff;
    width: 4rem;
    height: 3px;
    border-radius: 50%;
    filter: blur(3px);
    opacity: 0;
  }
  &:hover::after {
    opacity: 1;
  }
}
